:root{
  --green: #0b6738;
  --red: #be1f2f;
  --brown: #32292f;
  --tan: #dacdc4;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Poppins', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: var(--brown)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: var(--green);
}


